/* footer */

.container_footer{

    width: 5000px;
    height: 500px;
    background-color: #d9daf1;
    position: relative;
    margin-top: 50px;
}

.logo img{
    width: 130px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    display: block;



}
.info p {
    font-size: 15px;
    font-weight: 600;
    color:rgb(61, 61, 82);
    margin-top: 280px;
    margin-left: 350px;
    display: block;
    text-align: center;
    /* color: rgb(183, 184, 188); */

}
.link a {
      display: inline;
     color:rgb(74, 74, 107) ;
     font-size: 1.7em;
     padding: 20px;
     margin-left: -40px;

}
.link{
    margin-top: 350px;
    margin-left: -320px;
}
.link i{
    margin-left: 20px;
}

.link .linkedin :hover{
    background-color:blue;
    color: white;
    opacity: 1;
}
.link .telegram :hover{
    background-color: #4274B7;
    color: white;
    opacity: 1;
}
.link .whatsapp:hover{

    color: rgb(65, 197, 65);
    opacity: 1;
}
.link .facebook:hover{
    color:#4274B7;

    opacity: 1;
}
