*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start nav */
.content .row{
    width: 100%;
    height: 100px;
    background-color: rgb(248, 240, 240);
     position: fixed;
    z-index: 1111;
}
.row img{
    width: 175px;
    margin-left: 25px;
    margin-top: -33px;
}
.row i{
    margin-top: 6px;
    color: #9191c3;
    margin-left: 5px;
}
.row .logo{
    margin-top: 8px;
}
.header .links {
    margin-top: 27px;
    /*margin-left: 180px;*/
    /*margin-right: -33px;*/
    padding-right: 20px;
}

.mainmenu__nav ul{
        margin-left: 68px;
        /*margin-top: 30px;*/
      margin-top: 9px;
        margin-right: -177px;
}
.mainmenu__nav ul li{
    margin-left: 35px;
    position: relative;
}
.mainmenu__nav ul li a{
    color: rgb(154, 144, 240);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.mainmenu__nav ul li a:hover{
    color: black;
}
.drop{
    color: rgb(154, 144, 240);
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
}
/*.header .links{*/
/*    margin-top: -22px;*/
/*    !*margin-left: 180px;*!*/
/*    margin-right: 10px;*/

/*}*/
.profile{
    margin-top: 2px;
    margin-left: 33px;
}
.active{
    margin-top: 10px;

}

.mainmenu__nav a{
    display: block;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 25px ;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.megamenu_dropdown ul {
    padding: 15px 100px;
}
.megamenu_dropdown .item li a{
    margin-left: -100px;
}
.mainmenu__nav li:hover a{
    background-color:#fff;
}

#submenu{
    margin-left: -28px;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;

}
li:hover ul#submenu{
    opacity: 1;
    top: 50px;
    visibility: visible;
}

#submenu li{
    float: none;
    width: 100%;

}
#submenu li :hover{
    background:#fff;
}
/* .megamenu_dropdown{
    position: relative;
} */
ul li ul.item li{
    display: block;

}
ul li ul.item{
    width: 100%;
    background-color:#fff;
    position: absolute;
    z-index: 111;
    display: none;
    margin-left: -35px;

}
ul li:hover ul.item{
    display: block;
}

/*
end nav */

/*  start footer */
.footing{
    width: 100%;
    height: 250px;
    background-color: rgb(248, 240, 240);
}
.footing img{
    margin-left: 785px;
}
.footer p{
   margin-left: 626px;
}
.link{

            margin-left: 42%;
            margin-top: 32px;

}

 .link a {
    color:#8080b4;
    font-size: 1.7em;
    padding: 20px;
    margin-left: -18px;
}
/* end footer */


/* start slider  */
.head{
    margin-top: -37px;
}

.banner1 {
    width: 100%;
    height: 150vh;
    position: absolute;
    margin-top: 20px;
    padding-top: 80px;


}

.banner2 {
    width: 100%;
    height: 150vh;
    position: absolute;
    margin-top: 20px;
    padding-top: 80px;
}

.banner3 {
    width: 100%;
    height: 150vh;
    position: absolute;
    margin-top: 20px;
    padding-top: 80px;

}

.banner1 img {

    width: 90%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: zoom-out 4s linear infinite;
    -webkit-animation: zoom-out 4s linear 1s;
}

.banner2 img {
    width: 90%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: zoom-out 4s linear 1s;
    -webkit-animation: zoom-out 4s linear 1s;
}

.banner3 img {
    width: 90%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: zoom-out 4s linear infinite;
    -webkit-animation: zoom-out 4s linear infinite;
}

@keyframes zoom-out {
    100% {
        width: 100%;
    }
}

.infro {
    width: 800px;
    position: absolute;
    top: 36%;
    left: 25%;
    color: #8d7fad;
    animation: textup 12s linear infinite;
    -webkit-animation: textup 12s linear infinite;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
}

@keyframes textup {
    10% {
        transform: translateY(0PX);
        -webkit-transform: translateY(0PX);
        -moz-transform: translateY(0PX);
        -ms-transform: translateY(0PX);
        -o-transform: translateY(0PX);
    }

    100% {
        transform: translate(0px);
        -webkit-transform: translate(0px);
        -moz-transform: translate(0px);
        -ms-transform: translate(0px);
        -o-transform: translate(0px);
    }
}

.text1 {
    animation-delay: 0s;
}

.text2 {
    animation-delay: 3s;
}

.infro h2 {
    font-size: 60px;
    font-weight: 800;

}

.banner1 {
    animation: slide1 12s linear infinite;
    -webkit-animation: slide1 12s linear infinite;
}

.banner2 {
    animation: slide2 12s linear infinite;
    -webkit-animation: slide2 12s linear infinite;
}

.banner3 {
    animation: slide3 12s linear infinite;
    -webkit-animation: slide3 12s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }


}

@keyframes slide2 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }


}

@keyframes slide3 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }


}


/* media slider */
@media (min-width:375px) and (max-width:667px) {
    .banner2 h2 {
        font-size: 18px;
    }

    .banner3 h2 {
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .banner2 h2 {
        font-size: 40px;

    }

    .banner3 h2 {
        font-size: 38px;

    }
}
/* end slider */
/* start dialog */
.counter{
    width: 400px;
    height: 200px;
    background-color: #e5e8f6;
    margin: auto;
    margin-top: 20%;
    border: 2px solid ;
    border-radius: 30px;
}
.counter h2{
    text-align: center;
    color: #9292d7;
    padding-top: 10px;
}
 button {
     padding: 15px 33px;
     border-radius: 29px;
     margin-left: 58px;
     margin-top: 30px;
}
 button a{
     color:#9292d7 ;
     list-style: none;
     text-decoration: none;
 }
button a:hover{
    color:black ;
    list-style: none;
    text-decoration: none;
}

/*about*/
.about{
    width: 100%;
    height:500px;
    margin-top: 100px;
 }
.about h3{
    font-size: 4em;
    color: #6262af;
   margin-left: 36%;
    margin-bottom: 20px;
}
.about p{
    font-size: 20px;
    color: #504e4e;
    line-height: 3em;
}




