.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container i{
    margin-bottom:10px;
    font-size: 22px;
    color: rgb(81, 55, 153);
}
.header .logo {
    width: 140px;
    margin: auto;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:#fff;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}
.content{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

}
.header .links ul li a {

    display: block;
    padding: 15px;
    text-decoration: none;
    color:rgb(81, 55, 153);
    transition: var(--main-duration);
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.header .links ul li a i{
    margin-right: 10px;
}
/* End Header */

/* company */
.projects{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card {
    background-color: #f6f2ff;
    width: 17.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 25px;
    margin: 15px;
}

.cards{
  background-color: #252429;
}
.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.icon {
    color: #e30808;
    font-size: 6em;
    text-align: center;

}

.infro {
    text-align: center;
}

.infro h3 {
    color: #b32727;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/*Start section */

.title{
    display: flex;
    justify-content: center;
    color: #5fa0e0;
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 30px;

}

.card{
    background-color:#f6f2ff;
    width: 15.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1,15%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
/* .cards{
  background-color: #252429;
} */
.card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.icon{
    color: #3ba2e5;
    font-size: 6em;
    text-align: center;

}
.infro{
    text-align: center;
}
.infro h3{
    color: #3ba2e5;
    font-size: .7em;
    font-weight: 700;
    margin: 10px;
}

.projects .row{
    margin-top: 30px;
}
.project-card{
    margin: 30px auto;
    border: 1px solid #f6f2ff;
    height: 300px;
    width:300px;
    overflow: hidden;
    border-radius: 10px;
    /*margin: 20px;*/
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.pppp{
    margin-top: 860px;
    transform: translate3d(-720px,0,0);
    -webkit-transform: translate3d(-720px,0,0);
    -moz-transform: translate3d(-720px,0,0);
    -ms-transform: translate3d(-720px,0,0);
    -o-transform: translate3d(-720px,0,0);
    transition: all 0s ease 0s ;
    width: 2880px;
    -webkit-transition: all 0s ease 0s ;
    -moz-transition: all 0s ease 0s ;
    -ms-transition: all 0s ease 0s ;
    -o-transition: all 0s ease 0s ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.projects{
    margin-right: -15%;
    display: inline;
    justify-content: center;
}
.project-card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    overflow: hidden;
}
.project-card .project-img:hover{
    opacity: 0.9;

}
.project-card img{
    width: 100%;
}

.project-infro{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: black;
}
.project-title{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
}
.project-infro .project-title span{
    color: #474749;

}

/* footer */
.footer img{
    width: 155px;
    margin-left:550px ;
}
.footer p{
    font-size: 15px;
    font-weight: 600;
    color:rgb(74, 74, 107);
    margin-left: 400px;
}
.social-icons a{
    color:rgb(74, 74, 107) ;
    font-size: 1.7em;
    padding: 20px;
    margin-left: -16px;
}
.social-icons{
    margin-left: 520px;
}
