*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* user profile */
.image{
    margin-top: 100px;
    margin-left: 80%;
   
}
.image img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #fff;
    margin-right: -80%;
}
.infro{
    margin-top: -112px;
    margin-left: 540px;
}
.infro h2{
    color: rgb(106, 106, 138);
    font-size: 40px;
    font-weight: bold;
}

.icon{
    margin-top: 80px;
    display: flex;
    margin-left: 40%;
}

.icon i{
    margin-left: 10px;
    color: rgb(106, 106, 138);
}
.icon p{
    font-size:17px;
    color: rgb(104, 90, 90);
    font-weight: bold;
}