
/* Start Variables */
:root {
    --main-color: #ec2222;
    --secondary-color: #030303;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}
nav{
    width: 100%;
    background-color:#fff;
    position:absolute;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Components */
.special-heading {
    color: #fff;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End Components */
/* Start nav */
.nav {
    padding: 20px;
    
}


.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .container a i{
    font-size: 25px;
    color: #6b5dbd;
    
}
.nav .logo {
    width: 135px;
    margin: auto;

}


.nav .links {
    position: relative;
}

.nav .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.nav .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav .links .icon span {
    background-color: #6229d4;
    margin-bottom: 5px;
    height: 2px;
}

.nav .links .icon span:first-child {
    width: 100%;
}

.nav .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.nav .links .icon span:last-child {
    width: 100%;
}

.nav .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.nav .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.nav .links:hover ul {
    display: block;
}

.nav .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #6b5dbd;
    transition: var(--main-duration);
}
.nav .links ul li:first-child{
    padding-right: 80px;
}

.nav .links ul li i{
    margin-right: 7px;
}

.nav .links ul li a:hover {
    padding-left: 25px;
}

.nav .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End nav */

/* start header */
header{
    background-image: url("../img/Gallery_1702935330396.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}

header .container {
    display: inline;
    text-align: center;

}

header .container h1 {
    padding-top: 155px;
    color: #fff;
    font-size: 113px;
    font-weight: 600;
    line-height: 150px;
}
.container p{
    padding-top: 10px;
    color: #ffffffb3;
    font-size: 30px;
    font-weight: 100;

}

/* End header*/

/* start section */
.row{
    margin-top: 85px;
    margin-bottom: 50px;
}
.infro{
    display: inline;
    text-align: center;
}
.infro h2{
    font-size: 40px;
    font-weight:600;
    line-height: 2em;
    color: #6b5dbd;
}
.infro p{
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5em;
    color: #212125d6;
}
 
/* end section */

/* log in  */
.login-page .container{
    position: relative;
}
.login-page .container .row{
    position: absolute;
    height:450px;
     width: 53%;
    margin-left: -25px;
    background-color:#f8f9fa ;
}

.infro h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6em;
    color:#6b5dbd;
    margin-top:20px;
}
.infro button{
        color: #f6f2ff;
        background-color:#6b5dbd;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
        padding: 0.8375em 1.1875em;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin-bottom: 40px;
        transition: 0.7s ease;
        -webkit-transition: 0.7s ease;
        -moz-transition: 0.7s ease;
        -ms-transition: 0.7s ease;
        -o-transition: 0.7s ease;
    }

   .infro button:hover{
        background-color: rgb(112, 105, 105);
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
      }
 .row h4{
    margin: auto;
    color: #6b5dbd;
    font-size: 30px;
    font-weight: 600;
 }
